<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item *ngFor="let user of listaUsers">
    <ion-label>
      {{user.first_name}}
    </ion-label>
    <ion-button color="warning" (click)="alterarUser(user.id!)">
      <ion-icon slot="icon-only" name="create-outline"></ion-icon>
    </ion-button>
    <ion-button color="danger" (click)="excluirUser(user.id!)">
      <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
    </ion-button>
  </ion-item>

<ion-button routerLink="/create-user">
  Adicionar User
</ion-button>
</ion-content>